@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  body {
    @apply antialiased font-serif bg-stone-50 text-stone-900 min-h-screen;
  }

  /* Select States */
  ::selection {
    @apply bg-green-500 text-green-50;
  }

  ::-moz-selection {
    @apply bg-green-500 text-green-50;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-stone-50;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-md hocus:bg-green-400 transition-colors duration-200 ease-in-out;
  }
}

@layer components {
  .painting-grid {
    column-count: 1;
    column-gap: 24px;
  }

  @media screen and (min-width: 768px) {
    .painting-grid {
      column-count: 2;
    }
  }

  @media screen and (min-width: 1200px) {
    .painting-grid {
      column-count: 3;
    }
  }
}

@layer utilities {
}
